.cpr {
    margin: auto;
    font-family: Outfit;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
color: #656567;
display: flex;
justify-content: center;
padding-top: 15px;
padding-bottom: 15px;
}