@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

.upside {
    background-image: url(../../assets/up.svg);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: outfit;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    /* border: 1px solid black; */
    background-repeat: no-repeat;
     width: 99%; 
    /* height: 28px; */
    gap: 14px;
    border-radius: 8px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: auto;
}

.upside span {
    font-family: Outfit;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;

}